$body-background: #F7F5F4;
$color-1: white;
$background-color-1: #040C0E;
$color-2: white;
$background-color-2: #343434;
$font-1: Open Sans,Helvetica,Arila;
$font-2: Roboto,Helvetica,Arila;

$screen-medium: "only screen and (max-width: 1200px) and (min-width: 600px)";
$screen-small: "only screen and (max-width: 800px)";

