@import "../modules/variables";

body {
  background-color: $body-background;
}

.page-content {
  text-align: justify;
  font-family: $font-1;
}

.page-content h1, h2 {
  margin-bottom: 10px;
}

.page-content a {
  color: firebrick;
  text-align: left;
}
